*{
    margin: 0;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    padding: 0;
}

body{
    background-color: #202020;
    color: rgb(238, 233, 233);
}

.header{
    display: flex;
    flex-direction: row;
    margin-right: 8%;
    margin-left: 8%;
    align-items: center;
    justify-content: space-between;
    height: 14vh;
}

.header__title{
    font-size: 120%;
    font-weight: 300;

}

.header__title span{
    background: linear-gradient(135deg, #6100ED, #2563EB);
    -webkit-background-clip: text;
       font-weight: 300;
    -webkit-text-fill-color: transparent;;
}

.header__nav-list{
    display: flex;
    width:auto;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
    gap: 4rem;
}

.header__nav-list li {
    font-size: 110%;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
}

.header__nav-list li::after {
    content: ""; 
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -4px;
    left: 0;
    background: linear-gradient(135deg, #6100ED, #3B82F6);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.header__nav-list li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.header__nav-list li:hover{
    transform: scale(1.1);

}
.header__contact--button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #6100ED, #3B82F6);
    color: #fff;
    border: none;
    width: 10rem;
    height: 6.5vh;
    font-size: 100%;
    border-radius: 999px; 
    cursor: pointer;
    transition: all 0.3s ease;
}

.header__contact--button:hover{
    transform: scale(1.1);
    filter: brightness(1.1);
}

.hero{
    display: flex;
    justify-content: space-between;
    margin-top: 9%;
    margin-bottom: 12%;
    margin-left: 8%;
}

.hero__box-info{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.hero__top-info{
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.hero__tag span{
    color: #6100ed;
}

.hero__title{
    font-size: 300%;
}

.hero__title span{
    background: linear-gradient(135deg, #6100ED, #2563EB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero__container{
    display: flex;
    flex-direction: row;
}

.hero__nav{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10%;
    margin-top: 6%;
}

.hero__link--download-cv{
    display: flex;
    color: #3f3f3f;
    margin-top: 6% ;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 30%;
    height: 6.5vh;
    padding: 0;
    transition: all 0.3s ease;
    border-radius: 18px;
    cursor: pointer;
}

.hero__link--download-cv:hover{
    background: linear-gradient(135deg, #6100ED, #3B82F6);
    color:#fff;
    padding: 0;
    transform: scale(1.1);
    filter: brightness(1.1);
}

.hero__link--align{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 130%;
    cursor: pointer;
    gap: 5px;
}

.hero__code-container{
    display: flex;
    flex-wrap: wrap;
    margin-right: 8%;
    align-items: center;
}

.hero__code-card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30vw;
    background-color: #3f3f3f;
    height: 34vh;
    border-radius: 16px;
}

.hero__code-header {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-left: 6%;
  margin-bottom: 2%;
  margin-top: 5%;
}

.code{
    display: flex;
    flex-wrap: wrap;
}

.hero__dot {
  width: 10px;
  height: 10px;
  box-shadow: 0 0 6px rgba(0,0,0,0.3);
  border-radius: 50%;
}

.hero__dot:hover {
  filter: brightness(1.2);
}

.hero__dot--red {
  background-color: #ff5f56;
}

.hero__dot--yellow {
  background-color: #ffbd2e;
}

.hero__dot--green {
  background-color: #27c93f;
}

.hero__code {
  display: flex;
  align-items: center;
  font-size: 96%;
  overflow: auto;
  font-family: monospace;
  margin-left: 4% ;
  color: #ccc;
   white-space: pre-wrap;
  word-break: break-word;
  line-height: 1.7;
}

.hero__const-name{
    color: #a036dd;
}

.hero__code-key {
  color: rgb(240, 105, 150); 
}

.code-string {
  color:  #3B82F6; 
}

.about-me{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0% 8%;
}

.about-me__title{
    margin-bottom: 4%;
    font-size: 40%;
    background: linear-gradient(135deg, #6100ED, #2563EB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
    font-size: 220%;
}

.about-me__block-text p{
    font-size: 116%;

}

.stacks{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6% 8%;
}

.stacks--align{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    gap: 2%;
}

.stacks__stack-box{
    display: flex;
    justify-content: center;
    background-color: #3f3f3f;
    width: 7%;
    align-items: center;
    height: 10vh;
    border-radius: 10%;
    transition: all 0.3s ease;
    cursor: pointer;
    position: relative;
}

.stacks__stack-box:hover{
    transform: scale(1.1);
    filter: brightness(1.1);
}

.stacks__stack-box::after, .stacks__stack-box::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(135deg, #6100ED, #3B82F6) ;
    z-index: -1;
    padding: 3px;
    border-radius: 10%;
}

.stacks__stack-box::before{
    filter: blur(1.3rem);
    opacity: 0.5;
}

.stacks__stack-box img{
    height: 8vh;
}
